asgiref==3.2.10
coverage==5.3
Django==3.0.7
django-cors-headers==3.5.0
django-rest-knox==4.1.0
djangorestframework==3.11.1
djangorestframework-simplejwt==4.4.0
djoser==2.0.3
pycryptodomex==3.9.7
PyJWT==1.7.1
pyparsing==2.4.7
sqlparse==0.3.1
