.main-wrapper {
  /* height: 100%; */
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
}

.header-bar {
  width: 100%;
  height: 13%;
  /* border-bottom: 5px solid red; */
  background-color: rgba(32, 25, 25, 0.7);
  color: #fff;
  z-index: 90;
  right: 10em;
  margin-right: 10rem;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  flex-grow: 0;
  align-items: center;
  justify-content: flex-end;
}

.header-bar a {
  color: #fff;
  font-size: 5px;
  font-weight: lighter;
  letter-spacing: 5px;
  margin: 0.6em;
  text-align: center;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  border: 1px solid #fff;
  border-radius: 5px;
  text-decoration: none;
  padding: 8px;
  transition: all ease 0.7s;
}

.header-bar a:hover {
  background-color: rgb(53, 53, 48);
}

.main {
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  overflow: auto;
}

.get-started {
  display: flex;
  flex-direction: column;

  width: 50%;
  margin: 0;
  padding: 0;

  background-color: #a19e9b;
}

.get-started h1 {
  font-size: 40px;
}
.get-started h2 {
}
.get-started p {
}

.get-started-btn {
  width: 100%;
  text-align: center;
}

.get-started-btn a {
  background-color: #5d5d61;
  border: 2px solid #fff;
  padding: 8px 10px;
  border-radius: 5px;
  font-size: 0.8em;
  font-weight: bold;
  letter-spacing: 1px;
  text-decoration: none;
  color: #fff;
  transition: 0.5s;
}

.get-started-btn a:hover {
  background-color: rgb(92, 81, 81);
}

.home-login {
  background-image: url("../Images/home-login.jpg");
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
  margin: 0;
  position: relative;
  color: #fff;
}

/* resposive */
/*  */
/* @media (max-width: 600px) { */
/* .wrapper { */
/* width: 100%; */
/* } */
/* .logo { */
/* float: none; */
/* width: 50%; */
/* text-align: center; */
/* margin: auto; */
/* } */
/*  */
/* .nav-area { */
/* float: none; */
/* margin-top: 0; */
/* } */
/* .nav-area li a { */
/* padding: 5px; */
/* font-size: 11px; */
/* } */
/* .nav-area { */
/* text-align: center; */
/* } */
/* .welcome-text { */
/* width: 100%; */
/* height: auto; */
/* margin: 30% 0; */
/* } */
/* .welcome-text h1 { */
/* font-size: 30px; */
/* } */
/* } */
