.base-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header {
  font-size: 24px;
  font-family: "open Sans", sans-serif;
}

.content {
  display: flex;
  flex-direction: column;
}

.form {
  margin-top: 2em;
  flex-direction: column;
}
