.base-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: hsl(0, 0%, 95%);
}
.header {
  font-size: 24px;
  font-family: "open Sans", sans-serif;
}

.content {
  display: flex;
  flex-direction: column;
}

.form {
  margin-top: 1.5em;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.from-group {
  border-block: 20px;
}

input[type="text"] {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

label {
  padding: 12px 12px 12px 0;
  display: flex;
}

.btn {
  background-color: #414aa1;
  color: white;
  padding: 8px 14px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
