.wrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
  margin: 0;
}

.form-wrapper {
  /* height: 100%; */
  min-height: 25rem;
  width: 30%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 6px;
  box-shadow: 0px 10px 50px #555;
  background-color: #ffffff;
}

.register-header {
  text-align: center;
  width: 100%;
  color: #111;
  font-size: 16px;
  font-weight: bold;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.register-form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

label {
  font-size: 16px;
  margin-bottom: 0.09em;
  color: #222;
  font-weight: 12px;
  float: left;
  text-align: left;
}

input[type="text"],
select {
  padding: 10px 10px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #cfcfcf;
  font-size: 0.8em;
}
input[type="password"] {
  padding: 10px 10px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #cfcfcf;
  font-size: 0.6em;
}

input[type="tel"] {
  padding: 10px 10px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #cfcfcf;
  font-size: 0.6em;
}
input::placeholder {
  font-size: 1em;
  font-weight: lighter;
  color: #999;
}

.firstName,
.email,
.cpassword,
.phone {
  margin-right: 1%;
}

.lastName,
.password,
.address,
.username {
  margin-left: 1%;
}

.firstName,
.lastName,
.email,
.password,
.cpassword,
.phone,
.address,
.username {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.firstName,
.lastName,
.email,
.password,
.cpassword,
.address,
.phone,
.username {
  width: 49%;
}

.register {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.register button {
  background-color: #2c43a8;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 5px;
  width: 40%;
  margin-top: 1em;
  padding: 8px 0px;
  font-size: 0.7em;
  font-weight: lighter;
  letter-spacing: 1px;
  margin-bottom: 0.25em;
}

.register button:hover {
  color: #519e8a;
  background-color: #fff;
  border: 2px solid #519e8a;
}

.register small {
  color: #999;
  font-weight: lighter;
}
/* Login style */

.login-wrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../Images/login-background.jpg");
  background-size: cover;
  background-color: #f2f2f2;
  margin: 0;
  position: relative;
}

.login-form-wrapper {
  height: 60%;
  width: 40%;
  display: flex;
  position: absolute;
  right: 10%;
  margin-right: -25;
  top: 20%;
  margin-top: -25;
  overflow: hidden;
  flex-direction: column;
  padding: 20px;
  border-radius: 6px;
  box-shadow: 0px 10px 50px #555;
  background-color: #ffffff;
}

.login-header {
  text-align: center;
  width: 100%;
  color: #111;
  font-size: 20px;
  font-weight: bold;
  margin-top: 6%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.login-form-wrapper input {
  padding: 10px 10px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #cfcfcf;
  font-size: 1em;
}

.login-form-wrapper input::placeholder {
  font-size: 1em;
  font-weight: lighter;
  color: #999;
}
.login-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-email,
.login-password {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  width: 49%;
  text-align: center;
  justify-content: center;
}

.login {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

/* .login link { */
/* text-align: left; */
/* } */

.login button {
  background-color: #2c43a8;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 5px;
  width: 50%;
  /*  margin-top: 1em; */
  margin-left: 4rem;
  padding: 8px 0px;
  font-size: 0.5em;
  font-weight: lighter;
  letter-spacing: 1px;
  margin-bottom: 0.25em;
}

.login button:hover {
  color: #519e8a;
  background-color: #fff;
  border: 2px solid #519e8a;
}

small {
  color: #999;
  font-weight: lighter;
}

/* general anchor tags */
a:link,
a:visited {
  color: #2c43a8;
  font-weight: 300;
}

a:hover,
a:active {
  color: #519e8a;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 480px) {
  .form-wrapper {
    /* height: 100%; */
    min-height: 15rem;
    width: 80%;
  }
}
@media only screen and (max-width: 770px) {
  .form-wrapper {
    /* height: 100%; */
    min-height: 15rem;
    margin-top: 2rem;
    width: 80%;
  }
  .wrapper {
    height: 100%;
    padding: 2rem !important;
  }
}

@media only screen and (max-width: 812px) {
  .form-wrapper {
    /* height: 100%; */
    min-height: 15rem;
    margin-top: 2rem;
    width: 80%;
  }
  .wrapper {
    height: 100%;
    padding: 0 0 5rem;
  }
}
