.base-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header {
  font-size: 24px;
  font-family: "open Sans", sans-serif;
}

.content {
  display: flex;
  flex-direction: column;
}

.form {
  margin-top: 2em;
  flex-direction: column;
  align-items: flex-start;
}

input[type="text"] {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

label {
  padding: 12px 12px 12px 0;
  display: flex;
}
