body {
  /* overflow: hidden; */
  margin: 0;
}
.wrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
  /* margin-top: -30px; */
  /* margin: 0; */
}

.form-wrapper {
  margin: auto;
  width: 50%;

  /* width: 300px; */
  display: flex;
  flex-direction: column;
  padding: 20px 40px;
  /* padding: 10px 10px 10px 10px; */
  border-radius: 10px;
  box-shadow: 0px 10px 50px #555;
  background-color: #ffffff;
}

form {
  /*  margin: 0; */
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

h1 {
  text-align: center;
  width: 100%;
  color: #111;
  font-size: 16px;
  font-weight: lighter;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

label {
  font-size: 8px;
  margin-bottom: 0.09em;
  color: #222;
  font-weight: lighter;
  /*  margin-top: -15px; */
}

/* .Kelvin { */
/* margin-top: -20px; */
/* } */

input[type="text"],
select {
  padding: 10px 10px;
  /*  padding: 2px; */
  border-radius: 5px;
  outline: none;
  border: 1px solid #cfcfcf;
  font-size: 0.6em;
}
input[type="password"] {
  padding: 10px 10px;
  /* padding: 2px; */
  border-radius: 5px;
  outline: none;
  border: 1px solid #cfcfcf;
  font-size: 0.6em;
}

input[type="tel"] {
  /* padding: 2px; */
  padding: 10px 10px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #cfcfcf;
  font-size: 0.6em;
  /*  font-size: 0.8em; */
}
input::placeholder {
  font-size: 1em;
  font-weight: lighter;
  color: #999;
}

input.error {
  border: 1px solid red;
}

.errorMessage {
  color: red;
  font-size: 0.75em;
  display: relative;
}

.firstName,
.email,
.cpassword,
.phone {
  margin-right: 1%;
}

.lastName,
.password,
.address,
.city {
  margin-left: 1%;
}

.firstName,
.lastName,
.email,
.password,
.cpassword,
.phone,
.address,
.city {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.firstName,
.lastName,
.email,
.password,
.cpassword,
.address,
.phone {
  width: 49%;
}

select {
  width: 170%;
  height: 100%;
  font-size: 0.6em;
}
.register {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.register button {
  background-color: #2c43a8;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 5px;
  width: 50%;
  margin-top: 1em;
  padding: 8px 0px;
  font-size: 1em;
  font-weight: lighter;
  letter-spacing: 1px;
  margin-bottom: 0.25em;
}

.register button:hover {
  color: #519e8a;
  background-color: #fff;
  border: 2px solid #519e8a;
}

.register small {
  color: #999;
  font-weight: lighter;
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .form-wrapper {
    margin-top: 70%;
    padding: 10px 10px 10px 10px;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .form-wrapper {
    padding: 10px 10px 10px 10px;
  }
}

@media only screen and (min-width: 600px) {
  .form-wrapper {
    margin-top: 50%;
    padding: 10px 10px 10px 10px;
  }
}
@media only screen and (max-width: 600px) {
  .form-wrapper {
    margin-top: 50%;
    padding: 10px 10px 10px 10px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .form-wrapper {
    margin-top: 90%;
    padding: 10px 10px 10px 10px;
  }
}
