.wrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: hsl(0, 0%, 95%);
}

.form-wrapper {
  width: 300px;
  height: 200px;
  display: flex;
  flex-direction: column;
  padding: 20px 40px;
  border-radius: 10px;
  box-shadow: 0px 10px 50px #555;
}

form {
  width: 100px;
  display: flex;
  flex-wrap: wrap;
}
h1 {
  text-align: center;
  width: 100px;
  font-weight: lighter;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

label {
  font-size: 0.8em;
  margin-bottom: 0.25em;
  color: #222;
  font-weight: lighter;
}

input {
  padding: 10px 10px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #cfcfcf;
}

input::placeholder {
  font-size: 1.2em;
  font-weight: lighter;
  color: #222;
}

input.error {
  border: 1px solid red;
}

.errorMessage {
  color: red;
  font-size: 0.57em;
  display: relative;
}

.firstName {
  margin-right: 1%;
}
.firstName {
  margin-left: 1%;
}

.firstName,
.lastname,
.email,
.password,
.cpassword,
.phone,
.address,
.city {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.firstName,
.lastname {
  width: 49%;
}

.email,
.password {
  width: 100%;
}
