body {
  /* overflow: hidden; */
  margin: 0;
}
.wrapper {
  height: 80%;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  flex-direction: column;
  align-items: center;
  background-color: #f2f2f2;
  margin-top: -30px;
  margin: 0;
}

.form-wrapper {
  width: 300px;
  display: flex;
  flex-direction: column;
  padding: 10px 10px 10px 10px;
  border-radius: 5px;
  box-shadow: 0px 10px 50px #555;
  background-color: #ffffff;
}

form {
  margin: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

h1 {
  text-align: center;
  color: #111;
  font-size: 16px;
  font-weight: lighter;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

label {
  font-size: 8px;
  margin-bottom: 0.09em;
  color: #222;
  font-weight: lighter;
  margin-top: -15px;
}

/* .Kelvin { */
/* margin-top: -20px; */
/* } */

input[type="text"],
select {
  padding: 2px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #cfcfcf;
  font-size: 0.8em;
}
input[type="password"] {
  padding: 2px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #cfcfcf;
  font-size: 0.8em;
}

input[type="tel"] {
  padding: 2px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #cfcfcf;
  font-size: 0.8em;
}
input::placeholder {
  font-size: 0.6em;
  font-weight: lighter;
  color: #999;
}

input.error {
  border: 1px solid red;
}

.errorMessage {
  color: red;
  font-size: 0.75em;
  display: relative;
}

.firstName {
  margin-right: 1%;
}

.lastName {
  margin-left: 1%;
}

.email {
  margin-right: 1%;
}
.password {
  margin-left: 1%;
}

.cpassword {
  margin-right: 1%;
}
.address {
  margin-left: 1%;
}

.firstName,
.lastName,
.email,
.password,
.cpassword,
.phone,
.address,
.city {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.firstName,
.lastName,
.email,
.password,
.cpassword,
.address {
  width: 49%;
}

.register {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.register button {
  background-color: #519e8a;
  color: #fff;
  border: 2px solid #fff;
  width: 100%;
  margin-top: 1em;
  padding: 8px 0px;
  font-size: 1em;
  font-weight: lighter;
  letter-spacing: 1px;
  margin-bottom: 0.25em;
}

.register button:hover {
  color: #519e8a;
  background-color: #fff;
  border: 2px solid #519e8a;
}

.register small {
  color: #999;
  font-weight: lighter;
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .form-wrapper {
    margin-top: 70%;
    padding: 10px 10px 10px 10px;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .form-wrapper {
    padding: 10px 10px 10px 10px;
  }
}

@media only screen and (min-width: 600px) {
  .form-wrapper {
    margin-top: 50%;
    padding: 10px 10px 10px 10px;
  }
}
@media only screen and (max-width: 600px) {
  .form-wrapper {
    margin-top: 50%;
    padding: 10px 10px 10px 10px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .form-wrapper {
    margin-top: 90%;
    padding: 10px 10px 10px 10px;
  }
}
